---
import Layout from '../layouts/Layout.astro';
const date = new Date();
const year = date.getFullYear();
---

<Layout title="Bienvenido a Extremebike">

	<main>
		<div class="w-full h-9pt-10 flex flex-col items-center justify-center" id="services">
			<h1 class="font-bold">Nuestros Servicios</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nihil dolorum impedit id minima esse dolores labore eligendi laboriosam! Corporis asperiores quis obcaecati dolore hic eaque quasi quaerat dolorem laudantium.</p>
		</div>
		
	</main>

	<footer class=" flex items-center absolute w-full bottom-0 font-bold text-xl h-12 bg-gray-400">
		<div class=" absolute left-10">
			<p>Extremebike - {year}</p>
		</div>
			
		<div class="absolute right-10">
			<ul class="flex flex-row">
				<li class="p-5">Facebook</li>
				<li class="p-5">Instagram</li>
				<li class="p-5">Twitter</li>
			</ul>
		</div>
	</footer>
</Layout>

<style>
	footer {

		

	}

</style>
