---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Bienvenido a Extremebike">

	<main>
		<div class="w-full h-9pt-10 flex flex-col items-center justify-center" id="services">
			<h1 class="font-bold">Nuestros Servicios</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nihil dolorum impedit id minima esse dolores labore eligendi laboriosam! Corporis asperiores quis obcaecati dolore hic eaque quasi quaerat dolorem laudantium.</p>
		</div>
		
	</main>
</Layout>

<style>
	

</style>
